<div class="flex justify-between items-center mb-8 z-10 relative">
  <div class="flex items-center gap-3">
    <div
      class="w-11 h-11 rounded-2xl bg-white/10 flex items-center justify-center backdrop-blur-md border border-white/10 shadow-inner"
    >
      <i class="fa-solid fa-bus-simple text-xl text-white"></i>
    </div>
    <div class="flex flex-col">
      <span
        class="font-title-lg text-lg font-black tracking-tight uppercase text-white"
        >Transito</span
      >
      <span
        class="text-[10px] text-primary-container/80 font-semibold tracking-widest uppercase -mt-0.5"
        >Congo Transit</span
      >
    </div>
  </div>

  <div class="flex gap-2.5">
    <!-- <button (click)="viewFavorites()" aria-label="Favoris"
            class="hover:bg-white/15 text-white transition-all duration-200 p-2.5 rounded-xl flex items-center justify-center active:scale-95 bg-white/5 backdrop-blur-sm border border-white/10">
            <i class="fa-solid fa-heart text-base"></i>
          </button> -->
    <button
      (click)="openNotifications()"
      aria-label="Notifications"
      class="hover:bg-white/15 text-white transition-all duration-200 p-2.5 rounded-xl flex items-center justify-center active:scale-95 bg-white/5 backdrop-blur-sm relative border border-white/10"
    >
      <i class="fa-solid fa-bell text-base"></i>
      <!-- La pastille ne s'affiche que si hasUnreadNotifications est true -->
      <span
        *ngIf="hasUnreadNotifications"
        class="absolute top-2.5 right-2.5 w-2 h-2 bg-amber-400 rounded-full ring-2 ring-primary animate-pulse"
      ></span>
    </button>
  </div>
</div>
